*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    display:flex;
    overflow-y:auto;
    flex-wrap:wrap;
    overflow-x:hidden;
    max-width:100%;
   }
#header{
    width:100%;
    position:fixed;
    top:0;
    display:grid;
    grid-template-columns:50vw 50vw;
    }
#nav-bar{
   display:flex;
   margin-top:3vh;
   width:100%;
   position:fixed;
   justify-content:end;
  }
  #header-img{
    width:2.3rem;
    height:2.3rem;
    margin-left:3vw;
    margin-top:2vh;
  }
.nav-link{
    float:left;
    display:inline;
    color:black;
    font-size:1.3vwmin;
    font-family:'Montserrat', sans-serif;
    text-decoration:none;
    padding-left:1.5vw;
    padding-right:1.5vw;
   }
    .nav-link:hover
    {
     animation-name:bc;
     animation-fill-mode:forwards;
   }
    
 @keyframes bc{
        100%{
           color:black;
           font-weight:bold;
           border-bottom:1px solid black;
}}
    .container{
    width:100vw;
     display:grid;
     grid-template-columns:50vw 50vw;
     align-items:center;
     justify-content:center;
    min-height:80vh;  }
   #photo{
     width:100%;
     height:auto;
   } 
 h1{
     font-size:2rem;
     color:rgb(51, 51, 51);
     font-family:'Montserrat', sans-serif;
     font-weight:bold;
     text-align:center;
     }  
 p1{
     margin-left:5vw;
     font-size:1.5rem;
     color:rgb(82, 79, 79);
     font-family:'Montserrat', sans-serif;
     font-weight: 20;
     text-align:center;
      }
 p{
     font-size:1.2vwmin;
     color:rgb(82,79,79);
     font-family:'Montserrat', sans-serif;
      text-align:center;
      margin-top:6vh;
       }
  #video{
     padding-top:10vh;
     width:100vw;
     height:95vh;
     min-height:50vh;
    }
 #about{
    min-height:100vh;
 }
 #order{
     width:100%;
     flex-wrap: wrap;
    }
.listboxs{
     display:grid;
     grid-template-columns: 25vw 25vw 25vw;
    justify-content:space-between;
     margin-left:5vw;
     margin-right:5vw;
    padding-top:15vh;
    }
 .head,.body{
     background-color:transparent;
     border-top:1px solid transparent;
     border-right:1px solid transparent;
     box-shadow:0.2rem  0.4rem 0.5rem rgba(233, 231, 231, 0.76);
    }
    .body{
    text-align:justify;}
 .head{
     justify-content: center;
     text-align:center;
     background-color: white;
     color:rgb(0, 0, 0);
     font-family:'Montserrat', sans-serif;
     font-weight: bold;
     transform:translateY(6.5vh);
     transition:transform 0.1s linear;
     min-height:7vh;
   }
 .card:hover .head,
 .card:active .head,
 .card:focus .head{
     transform:translateY(0);
 }
 .ticket{
     font-size:1vwmin;
     text-align:center;
     width:100%;
     color:brown;
     font-weight:bold;
     min-height:1.5vh;
     padding-top:1.1vhmin;}
 .body{
      transform:translateY(-1.2vh);
     transition: transform 0.3s linear;
 }
 .card:hover .body{
     transform:translateY(0);
}
 .btn{
     text-align:center;
     margin-top:3vh;
     margin-bottom:1vh;
     width:100%;
    min-height:5vh;
     background:linear-gradient(90deg,rgb(236, 236, 236),rgb(245, 244, 244));
   border-radius:15px;
   border:none;
    color:black;
    font-size:1vwmin;
    text-transform: uppercase;
    cursor:pointer;
   
 }
 .btn:hover{
    background:white;
     color:black;
     box-shadow:0 0 5px #ece8ea,0 0 10px #ece8ea,0 0 15px #ece8ea,0 0 20px #ece8ea;
 }
 #subscribe{
    min-height:100vh;
    width:100%;
    }
#form{
    display:grid;
    grid-template-columns:50vw;
    justify-content:center;
    align-items:center;
    padding-top:40vh;
    padding-left:40vw;
    padding-right:40vw;
   }

#email-label{
font-family:'Montserrat', sans-serif;
font-weight: bold;
font-size:1.4rem;
text-align: center;
margin-bottom:5vh;
    }
#email{
    color:black;
    margin-bottom:5vh;
    height:6vh;
    width:100%;
    outline:0;
    border-bottom:1px solid black;
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    }
    #email:focus{
        border-bottom:2px solid black; }
#submit{
    text-align:center;
    min-height:6vh;
    background:transparent;
    background:linear-gradient(90deg,rgb(236, 236, 236),rgb(245, 244, 244));
   border-radius:15px;
   border:none;
    color:black;
    font-size:1vwmin;
    text-transform: uppercase;
    cursor:pointer;
   }
#submit:hover{
    background:white;
     color:black;
     box-shadow:0 0 5px #ece8ea,0 0 10px #ece8ea,0 0 15px #ece8ea,0 0 20px #ece8ea;}

.foot{
    height:8vh;
    width:100%;
    background-color:black;
    color:white;
    font-weight:20;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size:0.9vwmin;
      margin-top:27vh;
      padding-left:3vw;
      padding-top:2vh;

}
   @media only screen and (max-width:600px) {
    .container{
      max-width:100%;
      grid-template-columns:100vw;
      justify-content:center;
      align-items:center;
      margin-top:15vh;
      min-height:60vh; }
    #photo{
        margin-top:2vh;
        margin-bottom:20vh;}
    h1{
        margin-bottom:3vh; }
    p1{
        text-align:center;
    }
    .listboxs{
        grid-template-columns:70vw;
        justify-content:center;
        }
    .card{
        margin-bottom:7.5vh;
    }}

    